.collection-grid {
  padding-top: 0!important;
  padding-right: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 40px;
  height: auto;
}

.collection-grid__item {
  position: relative;
  aspect-ratio: 1/1;
  display: block;
  overflow: hidden;
}

.collection-grid__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.collection-grid__item:hover .collection-grid__image {
  transform: scale(1.05);
}

.collection-grid__title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}
