.collection-grid {
  padding-top: 0!important;
  padding-right: 1.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  margin-bottom: 4rem;
  height: auto;
}

@media (max-width: 1024px) {
  .collection-grid {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 1.6rem;
  }
}

@media (max-width: 767px) {
  .collection-grid {
    grid-template-columns: 1fr;
  }
}

.collection-grid__item {
  position: relative;
  aspect-ratio: 2/3;
  display: block;
  overflow: hidden;
}

.collection-grid__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.collection-grid__item:hover .collection-grid__image {
  transform: scale(1.05);
}

.collection-grid__title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}
