/* How it work */

img.Joy-Work__Item--ActionIcon, 
.Joy-Redeem__Item-Icon img, 
img.Joy-Earn__ItemIcon-CustomImg {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 15px;
    object-fit: contain;
}
.joy-program-card:hover .joy-program-name {
    font-weight: 400 !important;
}
/* Hero banner */
div.Joy-Hero-Banner_Image {
    max-width: 60rem;
}
.Joy-Hero-Banner_ActionGroup--item.signup {
    border: 2px solid #fff !important;
}
.Joy-Hero-Banner_ActionGroup--item.signup:hover {
    border: 2px solid #fff !important;
    background-color: transparent !important;
}
div.Joy-Hero-Banner_ActionGroup a {
    width: 120px;
}

/* Way to earn */
div.Joy-Earn__Item-Text, div.Joy-WayEarn__Item {
    align-items: center;
}
@media screen and (max-width: 767px) {
div.Joy-Earn__Item-Text, div.Joy-WayEarn__Item {
    align-items: flex-start;
}
}

/* Joy Perk  */

/* .Joy-VIPTier__Block .Joy-VIPTier__Swiper .Joy-Swiper__Container .Joy-Tier__Item {
    border: 1px solid rgb(201, 205, 217);
    box-shadow: 0 8px 14px 0 rgba(224, 229, 238, .8);
} */

.Joy-VIPTier__Block .Joy-VIPTier__Perk {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  border-top: 1px solid rgb(170, 170, 170);
  padding-top: 20px;
}

.Joy-VIPTier__Perk--icon:before {
  content: "✔";
  color: #1a7f60;
  font-size: 20px;
  width: 20px;
  height: 20px;
  display: block;
}

.Joy-VIPTier__Perk--icon svg {
  display: none !important;
}
.Joy-VIPTier__Block .Joy-VIPTier__Text.start {
    font-weight: 600;
}