/* How it work */

img.Joy-Work__Item--ActionIcon, 
.Joy-Redeem__Item-Icon img, 
img.Joy-Earn__ItemIcon-CustomImg {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    object-fit: contain;
}
@media screen and (min-width: 768px) {
img.Joy-Work__Item--ActionIcon, 
.Joy-Redeem__Item-Icon img, 
img.Joy-Earn__ItemIcon-CustomImg {
    margin-bottom: 15px;
}
}
.joy-program-card:hover .joy-program-name {
    font-weight: 400 !important;
}
/* Hero banner */
div.Joy-Hero-Banner_Image {
    max-width: 100rem;
}
.Joy-Hero-Banner_ActionGroup--item.signup {
    border: 2px solid #fff !important;
}
.Joy-Hero-Banner_ActionGroup--item.signup:hover {
    border: 2px solid #fff !important;
    background-color: transparent !important;
}
div.Joy-Hero-Banner_ActionGroup a {
    width: 120px;
}

/* Way to earn */
div.Joy-Earn__Item-Text, div.Joy-WayEarn__Item {
    align-items: center;
}
.Joy-Blocks__SubTitle {
    margin-bottom: 20px !important;
}
p.Joy-Earn__Item-Title {
    margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
div.Joy-Earn__Item-Text, div.Joy-WayEarn__Item {
    align-items: flex-start;
}
}

/* Redeemption */
.shopify-app-block:has(#joy-redeem-dashboard) {
    margin: 0 auto;
    background-color: #fff7f9;
    width: 100%;
    max-width: 60rem !important;
}
.section-content-wrapper.section-content-wrapper:has(#joy-redeem-dashboard), 
div.joy-redeem-dashboard-wrapper .Joy-Redeem__Dashboard,
.section--page-width:has(#joy-redeem-dashboard) {
    background-color: #fff7f9;
    background: #fff7f9;

}
.Joy-Redeem__Card .Joy-Redeem__Card--Heading {
    flex-direction: column;
}
.Joy-Redeem__Card {
    border-radius: 20px;
    border: none !important;
}
.Joy-Redeem__Button.primary {
    border-radius: 10px;
}

/* Redeemption free product */
#joy-redeem-dashboard div.Joy-Redeem__Product--list .Joy-Redeem__Product--detail,
#shopify-block-AOTRhckhNS0VNQUxqY__joy_loyalty_program_joy_redeem_program_TmPBXU div.joy-redeem-dashboard-wrapper .Joy-Redeem__Dashboard.Joy-Redeem__Dashboard--content-align-center .Joy-Redeem__Card .Joy-Redeem__Card--Heading .Joy-Redeem__CardTitle {
    display: none;
}
.Joy-Redeem__Product--list .Joy-Redeem__Product--detail {
    flex-direction: column;
}
.Joy-RedeemWrapper__modal-content .Joy-Redeem__Product--detail__title {
   margin-bottom: 10px;
}
#joy-redeem-dashboard div.Joy-Redeem__Product--detail:nth-child(1) {
    display: block;
    background-color: transparent;
}
#shopify-block-AOTRhckhNS0VNQUxqY__joy_loyalty_program_joy_redeem_program_TmPBXU div.Joy-Redeem__Card .Joy-Redeem__Card--Content {
    flex-direction: column-reverse;
    gap: 5px;
}
div.Joy-Redeem__Product--list .Joy-Redeem__Product--detail img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border: none;
}
.Joy-RedeemWrapper__modal div.Joy-Redeem__Product--list .Joy-Redeem__Product--detail img {
    padding: 10px;
}
.Joy-Redeem__Product--detail__title {
    margin-top: 10px;
    margin-bottom: 0px;
    color: black;
}
div.Joy-Redeem__Product--list.Joy-Redeem__ContentModal {
    margin-top: 20px;
    margin-top: 0px;
}
.Joy-RedeemWrapper__modal-content div.Joy-Redeem__Product--detail__title {
    text-align: center;
    background: #fff7f9;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
div.joy-redeem-dashboard-wrapper .Joy-Redeem__Dashboard .Joy-Redeem__Title {
    font-size: 38.4px;
    font-weight: 600;
}
div.Joy-Redeem__Product--list .Joy-Redeem__Product--detail {
    background-color:  transparent;
}
.Joy-RedeemWrapper__modal  div.Joy-Redeem__Product--list.Joy-Redeem__ContentModal {
    max-height: 35vh;
}
.Joy-RedeemWrapper__modal div.Joy-Redeem__Product--list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}
#shopify-block-AOTRhckhNS0VNQUxqY__joy_loyalty_program_joy_redeem_program_TmPBXU .joy-redeem-dashboard-wrapper .Joy-Redeem__Header .Joy-Redeem__SubTitle {
    display: none;
}
@media only screen and (max-width: 460px) {
.Joy-RedeemWrapper__modal div.Joy-Redeem__Product--list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
}
}
/* Joy Perk  */

/* .Joy-VIPTier__Block .Joy-VIPTier__Swiper .Joy-Swiper__Container .Joy-Tier__Item {
    border: 1px solid rgb(201, 205, 217);
    box-shadow: 0 8px 14px 0 rgba(224, 229, 238, .8);
} */

.Joy-VIPTier__Block .Joy-VIPTier__Perk {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  /* border-top: 1px solid rgb(170, 170, 170); */
  padding-top: 20px;
}
div#joy-vip-tiers {
    padding: unset;
}
div.Joy-VIPTier__Block {
    margin-top: 0px;
}
.Joy-VIPTier__Block .Joy-VIPTier__Text.heading.small {
    width: 100%;
    background: #fff7f9;
}
.Joy-VIPTier__Block .Joy-VIPTier__Swiper .Joy-Swiper__Container .Joy-Tier__Item {
    border: 1px solid rgba(184, 108, 120, 0.4);
}

.Joy-VIPTier__Perk--icon:before {
  content: "•";
  color: #F7DFF2;
  font-size: 20px;
  width: 20px;
  height: 20px;
  display: block;
}
.Joy-VIPTier__Header--Container div.Joy-VIPTier__Text {
    padding: 6px;
    background: #F7EEF0;
    border-radius: 6px;
}

.Joy-VIPTier__Perk--icon svg, 
.Joy-VIPTier__Block .Joy-VIPTier__Text.subheading {
  display: none !important;
}
.Joy-VIPTier__Header--Container .Joy-VIPTier__Text,
.Joy-VIPTier__Block .Joy-VIPTier__Text.start {
    color: black;
}
/* .Joy-VIPTier__Block .Joy-VIPTier__Text.start {
    font-weight: 600;
} */

@media only screen and (max-width: 460px) {
    .Joy-VIPTier__Block .Joy-VIPTier__Text.subheading {
        text-align: center !important;
    }
}

/* .Joy-FAQ,
#joy-vip-tiers, 
.Joy__Way-To-Redeem, 
.Joy__Way-To-Earn,
.Joy-HowItWorks,
.Joy-Hero-Banner {
    width: 100% !important;
} */
 /* widget */
 #Avada-Joy_FloatingButton .Joy-WidgetVer3 .MuiButton-containedPrimary {
    color: #000 !important;
}
/* referral */
p.Joy-ReferralLoyalty__SubTitle strong:nth-child(1) {
    margin: 7px 0;
    font-size: 34px;
    color: #B86C78;
    display: inline-block;
}

.Joy-ReferralLoyalty .Joy-ReferralLoyalty__InfoTitle h2.Joy-ReferralLoyalty__Heading {
    color: #B86C78;
}
.Joy-ReferralLoyalty .Joy-Input.medium, 
.Joy-ReferralLoyalty .Joy-Button--Primary.medium,
div.Joy-ReferralLoyalty .Joy-Button--Primary:hover {
    border: 1px solid black;
    background: #fff7f9;
    color: black;
}
div.Joy-ReferralLoyalty .Joy-Button--Primary:hover {
    border: 1px solid black;
    background: #fff7f9;
    color: black;
}

/* faq  */
.Joy-FAQ__Plus {
    color: black;
}
.Joy__Way-To-Earn {
    margin: 0 auto;
}