<div class="container" style="max-width: 1200px; margin: 0 auto;">
  {% section 'home-banner' %}
  {% section 'home-category' %}
  {% section 'home-featured-products' %}
  {% section 'home-latest-blog' %}
</div>
{% section 'home-service-info' %}