<div class="container" style="max-width:1200px;margin:0 auto;">
  <h1 style="color:#D8A26C;font-weight:bold;margin-bottom:32px;">全部商品</h1>
  {% section 'products-category-filter' %}
  {% section 'products-list' %}
</div>