<!-- 珠宝网站首页模板 -->
<div class="home-page-container">
    <!-- 轮播图 -->
    {% section 'jewelry-slideshow' %}
    
    <!-- 商品展示 -->
    {% section 'jewelry-products' %}
    
    <!-- 誕生石コレクションバナー -->
    {% section 'birthstone-banner' %}
    
    <!-- 戒指特殊展示 -->
    {% section 'rings-showcase' %}
    
    <!-- 背包特殊展示 -->
    {% section 'backpack-showcase' %}
    
</div>
